{
  "parser": "babel-eslint",
  "rules": {
    //"indent": [
    //  2,
    //  2,
    //  {"VariableDeclarator": { "var": 2, "let": 2, "const": 3}}
    //],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "comma-style": [2, "last"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "no-console-log/no-console-log": 2,
    "no-console": [0],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-nested-ternary": [2],
    "no-spaced-func": [2],
    "no-trailing-spaces": [2],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "globals": {
    "require": true,
    "module": true,
    "Environment": true,
    "$": true,
    "__dirname": false,
    "process": false,
    "gapi": false,
    "FB": false,
    "PagarMe": false,
    "jest": false,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "expect": false,
    "localStorage": false,
  },
  "plugins": [
    "react",
    "no-console-log",
  ]
}
